header {
    background-image: url(../pics/Saloum1.jpg);
    background-size: cover;
    background-position: center;
}

header .logo img {
    width: 80%;
}

header .content {
    position: relative;
    max-width: 70vw;
    color: white;
    margin: 10% 0 10% 15%;
}

header .content h1 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 2rem;
    letter-spacing: 0.3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    white-space: nowrap;
}

@media (max-width: 600px) {
    header .content h1 {
        white-space: normal; /* allow wrapping on small screens */
        font-size: 1.8rem;
    }
}

header .content p {
    font-weight: 400;
    line-height: 3vh;
    font-size: 2.5vh;
    margin: 2vh 0 0 0;
    text-align: justify;
}