section[id="Nos activités"] > .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    justify-items: center;
    min-height: 300px;
    padding: 3rem 2rem;
}


section[id="Nos activités"] > .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    justify-items: center;
    gap: 2rem;
}

#liste {
    width: 90%;
    background: rgba(2, 15, 20, 0.6);
    padding: 0.5%;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    justify-items: center;
}

.content #explications{
    height: 100%;
    width: 100%;
    background-color: rgba(12, 5, 5, 0.3);
}