html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.logo {
    position: fixed; /* reste en place quand on scroll */
    top: 8px;
    left: 8px;
    width: 120px; /* changez cette valeur si besoin */
    height: auto;
    z-index: 1000;
}

header, #A propos de nous, #Nos activités, #Hébergement, #Restauration, #Gallerie {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0px 0px; 
    grid-template-areas: 
        "headerall headerall headerall"
        "content content content"
        "content content content"
        "content content content"
        "content content content"; 
}

.content {
    grid-area: content;
    background-color: #18c753;
}

.headerall {
    grid-area: headerall;
    background-color: #6ca5df;
}

header {
    border-left: 8px solid #da53ad;
}

#A propos de nous {
    border-left: 8px solid #53da6a;
}

#Nos activités {
    border-left: 8px solid #93a726;
}

#Hébergement {
    border-left: 8px solid #b6238a;
}

#Restauration {
    border-left: 8px solid #0e925f;
}

#Gallerie {
    border-left: 8px solid #250eaa;
}