:root {
    --primary-color: #C1B086;
    --shadow-main: 6px 6px 6px #000000;
    --shadow-soft: 0 13px 43px 0 rgb(37 46 89/10%);
    --border-main: 2px solid var(--primary-color);
    --border-thick: 4px solid var(--primary-color);
    --transition-smooth: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --font-main: 'Roboto Slab', serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.logo {
    width: 120px; /* changez cette valeur si besoin */
    height: auto;
    display: block;
}

.logo-wrap {
    display: flex;
    align-items: center;
}

header, #A propos de nous, #Nos activités, #Hébergement, #Restauration, #Gallerie {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0px; 
    grid-template-areas: 
        "headerall headerall headerall"
        "content content content"
        "content content content"
        "content content content"
        "content content content"; 
}

.content {
    grid-area: content;
    background-color: #18c753;
}
#A propos de nous, #Nos activités, #Hébergement, #Restauration, #Gallerie {
    .headerall {
        grid-area: headerall;
        background-image: url("../pics/Fathala\ vue.jpg");
        background-repeat: no-repeat;
        background-size:cover;
    }
}

header.headerall {
    grid-area: headerall;
    background-color: #6ca5df;
}

