@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --primary-color: #C1B086;
    --shadow-main: 6px 6px 6px #000000;
    --shadow-soft: 0 13px 43px 0 rgb(37 46 89/10%);
    --border-main: 2px solid var(--primary-color);
    --border-thick: 4px solid var(--primary-color);
    --transition-smooth: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --font-main: 'Roboto Slab', serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: auto;
    overflow: auto;
    font-family: var(--font-main);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.logo {
    width: 180px; /* changez cette valeur si besoin */
    height: auto;
    display: block;
}

.logo-wrap {
    display: flex;
    align-items: center;
}

header, #A propos de nous, #Nos activités, #Hébergement, #Restauration, #Gallerie {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0px; 
    grid-template-areas: 
        "headerall headerall headerall"
        "content content content"
        "content content content"
        "content content content"
        "content content content"
        ;
    background-image: url("../pics/Saloum1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.content {
    grid-area: content
    ;


#A propos de nous, #Nos activités, #Hébergement, #Restauration, #Gallerie {
    .headerall {
        grid-area: headerall;
        background-image: url("../pics/Saloum1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

header.headerall {
    grid-area: headerall;
}