header nav ul {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    width: auto;
}

header nav ul li {
    list-style: none;
    padding: 0.5rem;
    border-radius: 0px;
    flex: 0 0 auto;
}

header nav ul li a {
    text-decoration: none;
    font-size: 2.5vh;
    font-weight: 400;
    color: white;
    transition: 1s;
}

header nav ul li a:hover {
    color: var(--primary-color);
}

.btn-1 {
    transition: all 0.2s ease;
}
.btn-1:hover {
    transform: translateY(-2px);
    box-shadow:
        inset -2px -2px 5px rgba(0, 0, 0, 0.3),
        inset 2px 2px 5px rgba(255, 255, 255, 0.3),
        5px 8px 20px rgba(0, 0, 0, 0.5);
}